* {
    margin: 0;
    /* background-color: aqua; */
    color: #fff;
}

.navbar {
    height: 50px;
    background-color: purple;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    text-decoration: none;
    color: white;
}

h1 {
    padding: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98.5vw;
    margin: 10px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}

tr:nth-child(even) {
    background-color:blue;
}

.background {
    height: 100vh;
    background-color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;

}

input {
    text-align: center;

}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 10px;
}

.text:hover {
    color: black;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
}

.main {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.update {
    display: flex;
    justify-content: center;
}

label {
    font-size: x-large;

}

input {
    height: 20px;
}