.App {
  text-align: center;
  background-image: linear-gradient(to top, #86c7c8, rgb(183, 101, 101), #86c7c8);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.topheading {
  margin-top: 0;
  text-shadow: 1px 2px 3px #63fbfd;

}

button {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background-color: #63fbfd;
  margin-left: 50px;
}

.flexbox1 {

  padding: 5px;
  background-color: #63fbfd;
  height: 180px;
  width: 350px;
  border-radius: 50px;

}

.flexbox2 {
  padding: 5px;
  background-color: #63fbfd;
  height: 180px;
  width: 350px;
  border-radius: 50px;
  margin: 10px;
}

.Box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

